body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* BACKGROUND */
  .bg {
    position: fixed;
    inset: 0;
    background: url('/bg.jpg') center/cover no-repeat;
    z-index: -1;
  }
  
  /* OVERLAY */
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* CARD */
  .card {
    background: #fff;
    padding: 30px;
    width: 360px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.2);
  }
  
  /* TITLE */
  .title {
    color: #d93025;
    font-size: 23px;
  }

  
  /* BUTTONS */
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
  }
  
  /* ICON */
  .icon-img {
    width: 18px;
  }

  /* WRAPPER */
.icon-wrapper {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
  }
  
  /* MAIN PDF ICON (circle) */
  .pdf-icon {
    width: 100%;
    height: 100%;
    background: #e8f0fe;
    color: #1a73e8;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-weight: bold;
    border-radius: 50%;
    font-size: 14px;
  }
  
  /* WARNING BADGE */
  .warning-icon {
    position: absolute;
    bottom: 2px;
    right: 2px;
  
    width: 22px;
    height: 22px;
  
    background: #fbbc04;
    color: #fff;
  
    font-size: 14px;
    font-weight: bold;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 50%;
    border: 2px solid #fff;
  }